body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
#app {
    background-color: aliceblue;
    min-height: 100vh;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(18, 18, 18);
    }
    #app {
        background-color: rgb(33, 34, 37);
    }
}
::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}